* {
    padding: 0px;
    margin: 0px;

}

html, body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #323234;
}

.inner {
    margin: 20px;
}

.square {
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    border: 4px solid #323234;
    display: inline-block;
    overflow: visible;
    transform:rotate(0deg);
    transition: transform .4s ease-in-out;
}

.border:hover {
    opacity: 1;
    transform: rotate(90deg);
    transition: transform .4s ease-in-out;
  }

.text {
    font-size: 18px;
    pointer-events: none;
}

.hero {
    padding: 50px 8px;
}

.hero h2 {
    font-size: 40px;
    line-height: 1.2;
}

.hero p {
    font-size: 18px;
    padding-top: 20px;
    line-height: 1.8;
    max-width: 505px;
}

.wavy {
    background: linear-gradient(
            to right,
            #FF9800 0%,
            #FF9800 5px,
            transparent 5px
    ) repeat-x;
    background-size: 100%;
    color: #000;
    padding-left: 10px;
    text-decoration: none;
}

.wavy:hover {
    background:
         linear-gradient(
           to right,
           #FF9800 0%,
           #FF9800 5px,
           transparent
         );
}

.address {
    margin-top: 44px;
}

.address a {
    border: 1px solid #FF9800;
    border-radius: 4px;
    padding: 15px 40px;
    text-decoration: none;
    color: #FF9800;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 14px;
}

.address a:hover {
    background-color: #FF9800;
    color: white;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}


@media screen and (min-width: 900px) {
    .hero {
        padding: 100px 75px;
    }
  }
  